@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Monofett&display=swap');

body {
	background-color: black;
	color: white;
	padding: 50px;
}

main {
	display: flex;
	align-items: center;
}

div {
	border-radius: 50%;
}

#tierra {	
	background-color: blue;	
}

#luna{
	background-color: lightgray;
}		

article {
	width: max-content;
	background-color: gray;
	border-radius: 5px;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Dekko', cursive;
}				

article img {
	width: 200px;
}

